body
{    
    margin: 0;
    overflow: hidden;
    min-width: 250px;
    min-height: 550px;
} 
.leaflet-control-attribution {
    display: none;
}
#map 
{
    height: 70vh;
    width: 100%;
}
.leaflet-popup-content
{
    font-weight: bold;
    font-size: 64px;
    text-align: center; 
}
label
{
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}
.form-select
{
    border-width: 4px;
    border-radius: 2.5pc;
    width: 80%;
    margin: 10px;
    font-weight: bold;
    white-space: pre-wrap;
    font-size: 26px;
}
@media  (width<=500px ),( height<=500px)
{
    #map
    {   
        height: 50vh;
    }
    .form-select
    {
        font-size: 16px;
    }
}
